body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  min-height: 100vh;
}


h1 {
  text-align: center;
  color:darkslateblue;
  font-weight: 780;
}

button:disabled {
  cursor: not-allowed !important;
}

.navbar {
  background: transparent !important;
}

.card {
  background-color: #fffbf6;
}

.heading {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  color: transparent;
  background-clip: text;
}
.auth-box {
  margin-top: 40px;
  width: auto;
  max-width: 40vw;
  min-width: fit-content;
  border: 3px solid #1d263e;
  padding: 50px;
  border-radius: 20px;
}